{% extends "__auth_base.html" %}
{% load staticfiles %}
{% load smarturl %}
{% load i18n %}

{% block stylesheet %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}" /> -->
{% endblock stylesheet %}

{% block content %}

<div class="container static">
{% block page-content %}{% endblock page-content %}
</div>

{% endblock content %}

{% block app-base-script %}

    $(function () {
      system_app.set_env({'app':'accounts'});
      $('[data-toggle="popover"]').popover()
    });

{% endblock app-base-script %}



