{% extends "__noauth_base.html" %}
{% load staticfiles %}
{% load smarturl %}
{% load i18n %}

{% block content %}

  <div id="form-title" style="color: #ccc;"><h3>Secure Django Template</h3></div>
     <div class="row container-fluid login-container">
      <div class="col-md-12">
        <h2 class="text-center mb-4 d-none d-md-block">&nbsp;</h2>
        <div class="row">
          <div class="col-md-8 col-lg-4 mx-auto">

            <!-- form card login -->
            <div class="card rounded-2">
              <div class="card-header">
                <h3 class="mb-0">Login Form</h3>
              </div>
              <div class="card-body">
                <div id="login-warning">Username or password is invalid, please try again</div>
                <form class="form" role="form" autocomplete="off" id="login-form" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ form.username.label_tag }}
                    <div class="input-group mb-3">
                      <div class="input-group-text fas fa-user">&nbsp;</div>
                      {{ form.username }}
                    </div>
                    <div class="invalid-feedback">Please enter your username</div>
                  </div>
                  <div class="form-group">
                    {{ form.password.label_tag }}
                    <div class="input-group mb-3">
                      <div class="input-group-text fas fa-lock">&nbsp;</div>
                      {{ form.password }}
                    </div>
                    <div class="invalid-feedback">Please enter your password</div>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="remember" name="remember">
                    <label class="custom-control-label" for="customCheck">Remember me on this computer</label>
                  </div>

                  <input type="hidden" name="next" value="{{ next }}" />
                  <button id="btn-submit" class="btn btn-default btn-primary float-right" name="login" title="{% trans 'Login' noop %}" type="submit"><i class="fas fa-unlock"></i> {% trans 'Login' noop %}</button>
                </form>
              </div>
              <div class="card-footer"><span class="float-right">Powered by Salt</span></div>
              <!--/card-block-->
            </div>
            <!-- /form card login -->

          </div>
        </div>
        <!--/row-->

      </div>
      <!--/col-->
    </div>
    <!--/row-->

{% endblock content %}

{% block script %}
<script type="application/javascript">

Cookies.remove('token');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    cache: false,
    timeout: 60 * 1000,
    error: function (request, status, err) {
        //this.http_error(request, status, err)
        alert(err);
    },
    beforeSend: function (xmlhttp, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xmlhttp.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'))
        }
    }
});

$('#login-form').submit( function (e) {

    e.preventDefault();

    user = $('#{{ form.username.id_for_label }}').val();
    pass = $('#{{ form.password.id_for_label }}').val();

    $.post("/accounts/login/", {
        grant_type : "password",
        username : user,
        password : pass
    }, function( data ) {
        if (data.status == 'OK') {
            /* $('body').fadeOut(600, function () { */
                location.href = data.next;
            /* }); */

        } else
            $('#login-warning').show();
            $('#{{ form.username.id_for_label }}').focus();
            $('#{{ form.username.id_for_label }}').val('');
            $('#{{ form.password.id_for_label }}').val('');
            $('#login-form')[0].reset();
    }, "json")

});

$(document).ready(function () {
    $('#{{ form.username.id_for_label }}').focus();
});

</script>

{% endblock script %}
