{% extends "accounts/__base.html" %}
{% load i18n %}
{% load form_messages %}

{% block headtitle %}{% trans 'Users &middot; Edit' noop %}{% endblock %}

{% block page-content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">System</li>
      <li class="breadcrumb-item"><a href="{% url 'accounts:accounts_list_users' %}">{% trans "Users" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% if can_edit %}{% trans "Edit" %}{% else %}{% trans "View" %}{% endif %}</li>
    </ol>
  </nav>

  {% for message in messages %}{{ message|form_message }}{% endfor %}


  <div style="margin-bottom: 10px; display: block;">
    <nav class="navbar navbar-expand-sm bg-light">
      <ul class="navbar-nav ml-auto" style="padding-right: 15px;">
        <li class="nav-item">
          <div class="btn-group">
            {% if can_edit %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AjaxChangePasswordModalDialog">
              <i class="fas fa-key"></i> Change Password
            </button>
            {% endif %}
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <form id="user-edit-form" method="post" class="form-horizontal">
    {% csrf_token %}

    <div class="panel panel-default nav-section nav-section-user" {% if active_tab != 'user' %}style="display: none"{% endif %}>
      <div class="panel-heading">
        <h2 class="panel-title">{% if can_edit %}{% trans "Edit User" %}{% else %}{% trans "View User" %}{% endif %}</h2></div>
      <div class="panel-body">


        <div class="form-group row">
          <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
            {% if can_edit %}

              {% if user_id != '1' %}
                <div class="custom-control custom-checkbox">
                  {{ form.is_active }}
                  <label class="custom-control-label" for="{{ form.is_active.id_for_label }}">
                    {% trans 'Enable access for this User' %}</label>
                </div>
                <span class="help-block" style="font-weight: normal;">{{ form.is_active.help_text }}</span>
              {% else %}
                <label class="control-value-label">{% trans 'Enabled: Yes' %}</label>&nbsp;
                <span class="help-block" style="font-weight: normal;">{% trans "This user cannot be disabled." %}</span>
              {% endif %}


            {% else %}
              <label class="control-value-label">{% trans 'Enabled: '%}{% if form.is_active.value %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</label>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">

          <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4">
            {{ form.username.label_tag }}
            {% if can_edit %}
              {{ form.username }}
              <span class="help-block">{{ form.username.help_text }}</span>
              <span>{{ form.username.errors }}</span>
            {% else %}
              <label class="control-value-label">{{ form.username.value }}</label>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4">
            {{ form.first_name.label_tag }}
            {% if can_edit %}
              {{ form.first_name }}
              <span class="help-block">{{ form.first_name.help_text }}</span>
              <span>{{ form.username.errors }}</span>
            {% else %}
              <label class="control-value-label">{{ form.first_name.value }}</label>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4">
            {{ form.last_name.label_tag }}
            {% if can_edit %}
              {{ form.last_name }}
              <span class="help-block">{{ form.last_name.help_text }}</span>
              <span>{{ form.last_name.errors }}</span>
            {% else %}
              <label class="control-value-label">{{ form.last_name.value }}</label>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            {{ form.email.label_tag }}
            {% if can_edit %}
              {{ form.email }}
              <span class="help-block">{{ form.email.help_text }}</span>
              <span>{{ form.email.errors }}</span>
            {% else %}
              <label class="control-value-label">{{ form.email.value }}</label>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            {{ form.page_size.label_tag }}
            {% if can_edit %}
                {{ form.page_size }}
              <span class="help-block">{{ form.page_size.help_text }}</span>
              <span>{{ form.page_size.errors }}</span>
            {% else %}
              <label class="control-value-label">{{ form.page_size.value }}</label>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4">
            {{ form.timezone.label_tag }}
            {% if can_edit %}
                {{ form.timezone }}
              <span class="help-block">{{ form.timezone.help_text }}</span>
              <span>{{ form.timezone.errors }}</span>
            {% else %}
              <label class="control-value-label">{{ form.timezone.value }}</label>
            {% endif %}
          </div>
        </div>

        {% if user_id != '1' %}

        <div class="form-group row">
          <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4">
            {{ form.oauth_scope.label_tag }}
            {% if can_edit %}
                {{ form.oauth_scope }}
              <span class="help-block">{{ form.oauth_scope.help_text }}</span>
              <span>{{ form.oauth_scope.errors }}</span>
            {% else %}
              <label class="control-value-label">{{ form.oauth_scope.value }}</label>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4">
            {% if can_edit %}
              <div class="custom-control custom-checkbox">
                {{ form.api_access }}
                <label class="custom-control-label" for="{{ form.api_access.id_for_label }}">
                  {% trans 'Enable API access for this User' %}</label>
              </div>

              <span class="checkbox-label-text"></span>
            {% else %}
              <label class="control-value-label">{% trans 'API Access: ' %}{% if form.api_access.value %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</label>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4">
            {{ form.api_code.label_tag }}
            <label class="control-value-label">{% if not form.api_code.value %} {% else %}{{ form.api_code.value }}{% endif %}</label>
          </div>
        </div>

        {% endif %}

      </div>
    </div>

    {% if can_edit %}

      <div class="btn-group btn-group-bottom">
        <button id="save" class="btn btn-primary" type="submit" value="{% trans 'Save' %}" name="save">
        <i class="fa fa-save icon-embed-btn"> </i> {% trans 'Save' %} </button>
      </div>
      <p>&nbsp;</p>

    {% endif %}
  </form>

   <!-- Start Modal Add Node Dialog -->
  <div class="modal fade" id="AjaxChangePasswordModalDialog" role="dialog" aria-labelledby="modal_title" aria-hidden="true">
    <div class="modal-dialog">

      <form id="change-pwd-form" method="post" class="form-horizontal"
            action="{% url 'accounts:ajax_accounts_change_password' user_id=user_id %}" >
      {% csrf_token %}

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal_title"><span class="fa fa-2x fa-key"></span> {% trans "Change Password" %}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

            <div id="errors-modal"></div>

            <div class="form-group">
              {{ pwd_form.old_password.label_tag }}
              {{ pwd_form.old_password }}
            </div>

            <div class="form-group">
              {{ pwd_form.new_password.label_tag }}
              {{ pwd_form.new_password }}
            </div>

            <div class="form-group">
              {{ pwd_form.new_password2.label_tag }}
              {{ pwd_form.new_password2 }}
            </div>

        </div>
        <div class="modal-footer">
          <div class="btn-group">
            <button id="dialog-add-button" type="button" class="btn btn-default">{% trans "Change" %}</button>
            <button id="dialog-cancel-button" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
          </div>
          <button id="dialog-close-button" type="button" class="btn btn-default" data-dismiss="modal" style="display: none;">{% trans "Close" %}</button>
        </div>
      </div>
      </form>

    </div>
  </div>
  <!-- End Modal Add Node Dialog -->

{% endblock page-content %}

{% block script %}

<script>

$('#dialog-add-button').click(function() {
    /* https://github.com/malsup/form/ */
    $('#change-pwd-form').ajaxSubmit(
    {
        type: 'post',
        dataType: 'json',
        success: function (data) {
            if (data.status == 'OK') {
                $('#errors-modal').html(data.message);
                $('#dialog-add-button').hide();
                $('#dialog-cancel-button').hide();
                $('#dialog-close-button').show();
            } else {
                $('#errors-modal').html(data.message);
            }

        },
        error: function () {
            $('#errors-modal').html("<div class=\"alert alert-danger alert-dismissable fade in\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\" aria-label=\"close\">&times;</a> <strong>Error:</strong> An unknown error occurred, please refresh page and try again</div>");
        }
    });
});

</script>

{% endblock script %}