django[argon2]
django-axes
django-compressor
django-celery-results
django-coreapi
django-countries
django-filter
django-ipware
django-oauth-toolkit
djangorestframework
django-timezone-field
django-rest-swagger
cryptography
python-dateutil
pycountry
sqlparse
pip-tools
uWSGI
requests[security]
pyuca
wheel
testfixtures
