argon2-cffi
cryptography
django
django-axes
django-celery-results
django-compressor
django-coreapi
django-countries
django-filter
django-ipware
django-oauth-toolkit
djangorestframework
# django-rest-swagger - Depreciated for drf-yasg
django-timezone-field
drf-yasg
pip-tools
pycountry
python-dateutil
pyuca
requests[security]
sqlparse
testfixtures
uWSGI
wheel
