/*
#
# Author: Robert Abram <rabram991@gmail.com>
#
# This file is subject to the terms and conditions defined in the
# file 'LICENSE', which is part of this source code package.
#
*/

body {
    background: url("/static/images/water-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#form-title {
    padding-left: 20px;
    padding-top: 10px;
}

#login-form label {
    color: #333;
}

#login-warning {
    color: red;
    margin-bottom: 6px;
    display: none;
}

.login-container {
    margin-right: 0px;
    margin-left: 0px;
}

.footer {
    position: fixed;
    font-size: 0.85rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.35);
    color: #333;
    text-align: center;
}