/*
#
# Author: Robert Abram <rabram991@gmail.com>
#
# This file is subject to the terms and conditions defined in the
# file 'LICENSE', which is part of this source code package.
#
*/

* {
    font-size: 13px;
    line-height: 1.428;
}

body {
    padding-top: 50px;
}

.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.navbar-fixed-top {
    border: 0 none;
}

.nav-pills-pager {
    padding-bottom: 8px;
}

.breadcrumb {
    margin-top: 4px;
    margin-bottom: 4px;
}

.disabled-menu-item {
    color: gray;
}

.panel {
    border-radius: 0;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* http://www.creativecolorschemes.com/resources/free-color-schemes/earth-tone-color-scheme.shtml */
.panel-default > .panel-heading {
    /* background-color: #c19a6b;  < Dessert color */
    /* background-color: #A3ADB8;  < Slate blue */
    background-color: #607890;
    color: whitesmoke;
}

.panel-heading {
    height: 32px;
    padding: 7px 15px;
}

.panel-body {
    padding: 0;
    min-height: 60px;
}

.alert {
    margin-bottom: 8px;
    padding: 12px 30px 12px 15px;
    color: #292929;
}

.alert-success {
    background-color: #A9D9C1;
    /* border-color: #404f24; */
}

.alert-danger {
    background-color: #D9A9A9;
}

.alert-info {
    background-color: #A9C1D9;
}

.alert-warning {
    background-color: #D9D9A9;
}

.form-horizontal {
    overflow: hidden;
}

.form-horizontal .control-label {
    padding-top: 4px;
}

.form-horizontal .form-bottom-btn {
    margin-top: 10px;
}

.form-group {
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    padding: 7px 5px 5px;
}

.form-group-note {
    border-top: 0;
    padding-top: 2px;
}

.form-group-last {
    border-bottom: 0;
}

.form-btn-group {
    padding-top: 4px;
    padding-bottom: 4px;
}

/*.form-btn-group > .btn  {*/
    /*border: 1px #bbb solid;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*}*/

.form-control {
    height: 28px;
    padding: 3px 12px;
}

.pagination {
    margin: 5px 0px;
}

.nav-pagination {
    text-align: center;
}

.control-value-label {
    padding-top: 3px;
    margin-bottom: 0;
    text-align: left;
    padding-left: 0px;
    font-size: 14px;
    font-weight: normal;
}

.btn {
    height: 28px;
    padding: 4px 12px;
    font-size: 13px;
}

.btn-group-bottom {
    margin-bottom: 15px;
}

.glyphicon {
    top: 2px;
}

.btn-group-xs > .btn {
    height: 21px;
}

.checkbox-label {
    padding-top: 4px;
}

.checkbox-label .checkbox-label-text {
    position: absolute;
    padding-top: 4px;
    font-weight: normal;
}

input[type="checkbox"], input[type="radio"] {
    line-height: normal;
    border: 0 none;
    display: inline;
    margin: 6px;
    overflow: hidden;
    padding: 2px 0px ;
}


.help-block {
    margin-bottom: 0;
}

.success {
    color: green;
    list-style-type: none;
}

.errorlist {
    color: red;
    list-style-type: none;
}

.sidebar {
    display: none;
}

.table {
    margin-bottom: 0px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 1px 10px 1px;
    vertical-align: middle;
}

.table > thead > tr, .table > tbody > tr, .table > tfoot > tr {
    height: 30px;
}

.table-selectable-col > tbody > tr > td:first-child {
    border-right: 1px #ccc solid;
}

@media (min-width: 768px) {

/* TODO: Migrate all adjusted width form fields to distinct classes and delete this block */
.col-sm-10 .form-control {
    width: calc(50% - 15px);
}

.col-sm-10 .list-group {
    width: calc(60% - 15px);
}

.col-sm-10 .input-group {
    width: calc(70% - 15px);
}
/* End TODO */

/* form control width values in percentage */
.fc-width-15 {
    width: calc(15%) !important;
}

.fc-width-25 {
    width: calc(25% - 15px) !important;
}

.fc-width-50 {
    width: calc(50% - 15px) !important;
}

.fc-width-75 {
    width: calc(75% - 15px) !important;
}


.input-group > .cidr-select {
    width: 70px;
}


.sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    top: 51px;
    z-index: 1000;
}
}
.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: #428bca;
    color: #fff;
}
.main {
    padding: 20px;
}
@media (min-width: 768px) {
.main {
    padding-left: 40px;
    padding-right: 40px;
}
}
.main .page-header {
    margin-top: 0;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 50%;
    display: inline-block;
}

.rule-table .rule-desc {
    max-width:120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


@media (max-width: 768px) {
    .rule-table th {
        display: none;
    }
    .rule-table td {
        display: none;
    }
}

.rule-table .rule-options {
    width: 70px;
}

.dropdown button {
    min-width: 90px;
}

/*
 * Check Box Toggle
 */


input[type='checkbox'] {
    display: none;
}


 /* The switch - the box around the slider */
.tog-switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 8px;
  top: 7px;
  margin-right: 50px;
  margin-bottom: 10px;
}

/* Hide default HTML checkbox */
.tog-switch input {display:none;}

/* The slider */
.tog-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.tog-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
  bottom: 0px;
  top: -5px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 5px #666;
}

.tog-text {
    color: #AAA;
    position: absolute;
    left: 41px;
    top: -3px;
}

/* moved to __auth_base.html for translation
.tog-text:before {
    content: "No";
}
*/

input:checked + .tog-slider:before {
  /* background-color: #009688; */
  box-shadow: 0 0 6px #008678;
}

input:checked ~ .tog-text:before {
  color: #008678;
  /* Moved to __auth_base.html for translation
  content: "Yes";
  */
}

input:checked + .tog-slider {
  background-color: #77C2BB;
}

input:focus + .tog-slider:before {
  box-shadow: 0 0 5px #666;
}

input:focus + .tog-slider {
  box-shadow: 0 0 5px #666;
}

input:checked + .tog-slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.tog-slider.round {
  border-radius: 18px;
}

.tog-slider.round:before {
  border-radius: 50%;
}

/*
 * End CheckBox Toggle
 */